.card {
  border-radius: 2px;
  border: 0;
}

card > .card-header {
  background: transparent;
  border-bottom: 1px solid #eee;
}

.buttonLogin {
  text-align: left;
  margin-bottom: 50px;
}

.cek {
  margin-right: -100px;
  margin-left: 100px;
}

.login-col-custom {
  /* margin-top: 100px; */
  margin-top: 150px;
}
