.navbar-custom {
  background-color: #fafafa;
  /* background-color: #333; */
}

.add-shadow {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.13);
  transition: 0.3s;
}

.navbar-brand-custom {
  font-size: 1.5rem;
  font-weight: semi-bold;
  color: #333;
  text-decoration: none;
}

.text-ladang {
  color: #26c32d;
}

.text-materi {
  color: #fe7558;
}

.btn-success-custom {
  background-color: #319d8e;
  border-radius: 10px;
  color: #fff;
}

.btn-success-custom {
  background-color: #319d8e;
  border-radius: 10px;
  color: #fff;
}

.btn-success-custom a {
  color: #fff;
  text-decoration: none;
}

.btn-success-custom:hover {
  background-color: #248679;
  border-radius: 10px;
  color: #fff;
}
